In [15]:
from DataBase import *
import os
from dotenv import load_dotenv
import psycopg2

In [9]:
con,cur = connect_data_base()
database_rw(operation = 'write', con = con, cur = cur, date = '05-05-2023', types = 'stocks', DTE = 'min')

DataBase Connected!
Version: PostgreSQL 14.5 (Homebrew) on aarch64-apple-darwin22.1.0, compiled by Apple clang version 14.0.0 (clang-1400.0.29.202), 64-bit
Data inserted successfully!

In [10]:
df = database_rw(operation = 'read', con = con, cur = cur, date = '05-05-2023', types = 'stocks', DTE = 'min')
df.head()

,Symbol,Price,Type,Strike,Exp Date,DTE,Bid,Midpoint,Ask,Last,Volume,Open Int,OI Chg,IV,Time
0,AA,36.24,Call,31.0,2023-05-05,0.0,5.15,5.2,5.25,4.55,608.0,644.0,0.0,1.6296000000000002,12:36 ET
1,AA,36.24,Call,36.0,2023-05-05,0.0,0.21,0.25,0.29,0.3,1991.0,585.0,-36.0,0.15,15:09 ET
2,AAL,13.94,Call,13.5,2023-05-05,0.0,0.39,0.41,0.42,0.37,2102.0,6775.0,1465.0,0.4311,15:20 ET
3,AAL,13.94,Put,14.0,2023-05-05,0.0,0.1,0.11,0.12,0.11,1130.0,887.0,-120.0,0.1725,15:21 ET
4,AAPL,174.28,Call,150.0,2023-05-05,0.0,23.5,23.55,23.6,23.35,670.0,2004.0,33.0,0.0,15:20 ET

In [12]:
# 显式指定列的数据类型
df = df.astype({
    "Symbol": str,
    "Price": float,
    "Type": str,
    "Strike": float,
    "Exp Date": str,
    "DTE": float,
    "Bid": float,
    "Midpoint": float,
    "Ask": float,
    "Last": float,
    "Volume": float,
    "Open Int": float,
    "OI Chg": float,
    "IV": float,
    "Time": str
})

In [13]:
df.dtypes

Symbol       object
Price       float64
Type         object
Strike      float64
Exp Date     object
DTE         float64
Bid         float64
Midpoint    float64
Ask         float64
Last        float64
Volume      float64
Open Int    float64
OI Chg      float64
IV          float64
Time         object
dtype: object

In [2]:
from datetime import datetime
datetime.now()

datetime.datetime(2023, 5, 30, 17, 8, 32, 21681)

In [16]:
# 写入数据库过程
#定义一个函数获取csv的文件日期部分和csv的修改时间。
def get_latest_csv_info(directory):
    # Get a list of CSV filenames in the directory
    csv_files = [filename for filename in os.listdir(directory) if filename.endswith(".csv")]

    # Sort the list of files by modification time (newest first)
    csv_files.sort(key=lambda filename: os.path.getmtime(os.path.join(directory, filename)), reverse=True)

    # Retrieve the latest CSV filename and extract the date
    if csv_files:
        latest_csv = csv_files[0]
        date = latest_csv.split("-")[-3].replace(".csv", "")

        # Get the file modification time
        file_path = os.path.join(directory, latest_csv)
        modification_time = os.path.getmtime(file_path)

        return date, modification_time
    else:
        return None, None

# Specify the directory path
directory = os.path.join(os.path.dirname(__file__), "../Data/Increase/")

# Call the function and retrieve the date and modification time
date, modification_time = get_latest_csv_info(directory)

#连接数据库进行数据写入
con, cur = connect_data_base()
types_list = ['stocks', 'etfs']
for types in types_list:
    database_rw(operation='write', con=con, cur=cur, date=date, types=types, DTE='max')

NameError: name '__file__' is not defined